/* .......................................
  HEADER PART CSS
*/
.material-icons {
  font-size: 18px;
  height: 16px;
}
.card-img-overlay {
  background: linear-gradient(to top, #fce38a, #f38181);
  opacity: 0.9;
}
header > .card > img {
  min-height: 850px;
}
header ul li a:hover {
  color: #fce38a !important;
  border-bottom: 2px solid #fce38a;
}
header .content {
  margin: 4em 0;
}
header .content span,
section .container > span {
  width: 60px;
  height: 3px;
}
header h1 {
  font-size: 9.375rem;
}
header .progress {
  height: 0.15rem;
}
header .col:first-child .progress .progress-bar {
  width: 25%;
}
/* 
  ........................................................
*/

/* About US part */
.about .material-icons {
  font-size: 2.5em;
  height: 30px;
}

.about .card img,
.about .card {
  transition: all 0.2s ease-in;
  top: 0;
  left: 0;
}
.about .card-img-overlay {
  width: 100%;
  height: -webkit-fill-available;
  top: 0;
  left: 0;
  transition: all ease-in 0.2s;
  opacity: 0;
}
.about .card:hover .card-img-overlay {
  top: -10px;
  left: -10px;
  bottom: unset;
  right: unset;
  opacity: 0.9;
}
.about .card:hover img {
  position: relative;
  top: -10px;
  left: -10px;
}
.about .card:hover {
  background-color: #95e1d3;
}
/* .................................................... */

/* 
  Facts Part Section 3 .............................
*/
.facts{
  background-color: #95e1d3;
}
/* ................................................. */
/* 

Media Queries 
max screen(992px).................
*/
@media screen and (max-width: 991.98px) {
  header > .card > img {
    min-height: 500px;
  }
}

/* ............................ */
